.cli-window {
  height: 100%;
  width: 100%;
  background: #0d1117;
  color: #00ff9c;
  font-family: "Fira Code", monospace;

  div[name="react-console-emulator"] {
    height: 100%;
    padding: 15px;
    font-size: 14px;
    line-height: 1.6;
  }
}
