.cards {
  overflow: scroll;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding-bottom: 4rem;

  .card {
    max-width: 21rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: #3c3c3c;
    border-radius: 0.5rem;
    color: #e2e2e2;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    img {
      width: 100%;
      border-radius: 1rem;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .description {
      opacity: 0.7;
      word-spacing: 0.3rem;
      line-height: 1.3;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.65rem;
      .tag {
        background-color: #3e4d3e;
        width: fit-content;
        padding-inline: 0.8rem;
        padding-block: 0.4rem;
        border-radius: 0.75rem;

        white-space: nowrap;
      }
    }

    .urls {
      display: flex;
      gap: 0.5rem;
      a {
        color: white;
      }
    }
  }
}
