.window {
  height: 100%;
  background-color: #111111;
  border-radius: 0.75rem;
  overflow: hidden;

  color: #c6c6c6;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-weight: 500;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.45rem;

    display: flex;
    gap: 1.1rem;
    align-items: center;
    border-bottom: 1px solid rgba(245, 245, 245, 0.544);
    .dots {
      display: flex;
      gap: 0.2rem;

      .dot {
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
      }
      .red {
        background-color: rgb(230, 73, 73);
      }
      .yellow {
        background-color: rgb(226, 226, 64);
      }
      .green {
        background-color: rgb(93, 235, 93);
      }
    }
  }

  .main-content {
    height: 100%;
  }
}
